.Game {
	font-family: 'Papyrus';
	border: 3px solid #000000;
	background-color: rgba(255, 255, 255, 0.9);
	color: #000000;
	height: auto;
	min-height: 650px;
	margin: 0 0 0 0;
}

.GameBoard {
	margin: auto;
	border: 3px solid #000000;
	padding: 30px;
	display: inline-block;
	background-color: #FFFFFF;
}

.GameRow {
	padding: 0px;
	height: 0px;
}

.GameInterface {
	margin-top: 10px;
	width: 100%;
	max-width: 500px;
	padding-bottom: 20px;
}

.GameInterface button{
	margin: 10px;
	padding: 5px;
	display: inline-block;
	background-color: #D3D3D3;
	border: none;
	cursor: pointer;
}

.GameInterface button:hover,
.GameInterface button:focus{
	background-color: #8B0000;
}

button img {
	max-height: 50px;
	max-width: 50px;
}

.GameStats {
	font-size: 1.5em;
	position: relative;
	text-align: center;
}
